@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700');

body {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 300;
    font-size: 20px;
    background-color: #f9f9f9;
}

/* -----------Background Colors */

.bg-color-navbar {
    background-color: #444040;
}

/* -----------Navbar */

.navbar-default {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 10px 5%;
}

.navbar-header {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding: 20px 20px;
    font-size: 30px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
}

.navbar-default .navbar-brand {
    color: #3b98ff;
}

.navbar-default .navbar-brand:hover {
    color: #3b98ff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3b98ff;
    height: 3px;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #3b98ff;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1f63af;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #3b98ff;
    background-color: transparent;
}

.social-links {
    display: inline-block;
    text-align: center;
}

.social-links>li{
    height: 30px;
    width: 30px;
    padding: 3px;
    margin: 2px;
    border-radius: 50%;
    background-color: #d2d1d1;
    transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}

.social-links>li:hover {
    background-color: #9e9e9e;
}

.fa {
    color: #4a4a4f;
}

